* {
    margin: 0;
    padding: 0;
    background-color: #3d3d5c
}

body {
    margin: 0 auto;
    overflow: auto
}

header {
    display: flex;
    align-content: center;
    height: 10.840108401084011vh;
    width: 100vw
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 999
}

#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: rgba(0,0,0,.7);
    transition: left .3s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: top
}

#menu ul {
    list-style-type: none;
    padding: 0;
    background: 0 0;
    list-style-image: none;
    margin-top: 50px
}

.limen {
    list-style-image: none;
    text-align: center
}

#menu li {
    background: 0 0;
    padding: 5px 0 5px 0;
    margin: 0;
    line-height: 1.4
}

#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans",sans-serif
}

#menu li a:hover {
    color: #999
}

#menuBtn:hover {
    color: #7f678d
}

#menuBtn {
    cursor: pointer;
    scale: 150%;
    color: #fff;
    font-weight: 100;
    position: static;
    margin-left: 67vw;
    position: relative
}

#menuBtn:hover {
    color: #7f678d
}

.menu-open {
    overflow: hidden
}

#logo {
    margin-left: 11.8vw;
    scale: 80%
}

#sec1 {
    width: 100%;
    unicode-bidi: isolate;
    position: relative
}

#sec2 {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 60px auto 0;
    display: flex;
    justify-content: top;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    align-content: center
}

#pomaranczowy {
    display: block;
    position: relative;
    height: 557px;
    width: 625.92px;
    background-color: #f1680e;
    margin-left: 12.2vw;
    margin-top: 9vh;
    z-index: 1;
    animation: slide-in 2s ease forwards;
    opacity: 0
}

.animate-slide-in {
    animation: slide-in 2s ease forwards
}

@keyframes slide-in {
    0% {
        transform: translateY(-300px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

#aguz2 {
    opacity: 0
}

#niebieski {
    display: block;
    width: 253px;
    height: 285px;
    background-color: #3f82f4;
    z-index: 2;
    position: absolute;
    right: 33vw;
    top: 53vh;
    bottom: 47vh;
    left: 67vw;
    background-image: none;
    animation: nieb 2s ease forwards;
    opacity: 0
}

@keyframes nieb {
    0% {
        transform: translateX(500px) rotate(180deg);
        opacity: 0;
        scale: 50%
    }

    to {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        scale: 100%
    }
}

#bud {
    width: 953px;
    height: 610px;
    object-position: 0 50%;
    background-image: url(https://assets.nicepagecdn.com/02cb7fb5/6230984/images/man-with-blueprint-looking-away.jpg);
    margin: -482px auto 0;
    z-index: 4;
    background-size: cover;
    position: relative;
    animation: slide-in-bud 2s ease forwards;
    opacity: 0
}

@keyframes slide-in-bud {
    0% {
        transform: translateX(500px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

#kratka {
    background: 0 0;
    position: absolute;
    right: 12vw;
    width: 453px;
    height: 270px;
    top: 88vh;
    margin: -33px 0 0 auto;
    z-index: 3;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    animation: kratka 2s ease forwards;
    opacity: 0
}

@keyframes kratka {
    0% {
        transform: rotate(180deg);
        opacity: 0;
        scale: 1%
    }

    to {
        transform: rotate(0deg);
        opacity: 1;
        scale: 100%
    }
}

#box {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 481px;
    height: 448px;
    padding: 30px 40px;
    margin-left: 23vw;
    margin-top: -23vh;
    z-index: 5;
    flex-direction: column;
    animation: scale-in-ver-bottom 2s cubic-bezier(.25,.46,.45,.94) both;
    opacity: 0
}

@keyframes scale-in-ver-bottom {
    0% {
        transform: scaleY(0);
        transform: translateY(200px);
        transform-origin: 0 100%;
        opacity: 0
    }

    to {
        transform: scaleY(1);
        transform: translateY(0);
        transform-origin: 0 100%;
        opacity: 1
    }
}

#h2box {
    font-family: Roboto,sans-serif;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 3rem;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: 500;
    background-color: #fff;
    color: #f1680e;
    text-align: left;
    margin-right: 7vw
}

#pbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: gray;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 0;
    background-color: #fff;
    word-wrap: break-word
}

#pboxlink {
    display: flex;
    text-align: left;
    color: gray;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 16px;
    margin: 30px 0 0;
    background-color: #fff
}

#afre:hover {
    text-decoration: none;
    cursor: pointer
}

#afre,#afre1 {
    text-decoration: underline;
    text-underline-offset: 5px
}

#afre1:hover {
    text-decoration: 1px underline #f1680e;
    text-underline-offset: 5px;
    cursor: pointer
}

#guz1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: .875rem;
    margin: 30px auto 0 0;
    border-color: #999;
    color: #999;
    background-color: transparent;
    border-width: 1px;
    --border-radius: 50px;
    padding: 10px 30px;
    font-size: 16;
    border-radius: var(--top-left-radius, var(--border-top-left-radius, var(--radius, var(--border-radius, 0)))) var(--top-right-radius, var(--border-top-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-right-radius, var(--border-bottom-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-left-radius, var(--border-bottom-left-radius, var(--radius, var(--border-radius, 0))))!important
}

#guz1:hover {
    border-color: #000;
    color: #000;
    transition: ease-in-out .2s
}

#sec2h2 {
    font-size: 3rem;
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-weight: 600;
    opacity: 0
}

.slide-top {
    animation: slide-top 2s cubic-bezier(.25,.46,.45,.94) both
}

.slide-top-2 {
    animation: slide-top 2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .2s
}

.slide-top-3 {
    animation: slide-top 2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .4s
}

#sec2p {
    line-height: 2;
    width: 813px;
    font-size: 1.25rem;
    margin: 20px auto 0;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    line-height: 2.2;
    margin-top: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    opacity: 0
}

#sec3 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 5vh;
    opacity: 0
}

@keyframes slide-top {
    0% {
        transform: translateY(500px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

.kolo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-transform: capitalize;
    border-radius: 100%;
    padding: 50px;
    margin: 0 6.5px;
    font-size: 20px;
    font-family: "Open sans"sans-serif;
    border: solid 4px #f1680e;
    color: #fff;
    height: 156px;
    width: 156px;
    font-weight: 600;
    transition: ease-in-out
}

.kolo:hover {
    border: solid 4px #ccc;
    transition: ease-in-out .3s;
    margin-top: -5px
}

#ko1 {
    margin: 0 40px 0 0;
    transition: ease-in-out .3s
}

#ko1:hover {
    margin-top: -5px;
    transition: ease-in-out .3s
}

#ko2 {
    margin-left: 0;
    transition: ease-in-out .3s
}

#ko3,#ko4,#ko5 {
    margin: 0 0 0 40px;
    transition: ease-in-out .3s
}

#ko3:hover,#ko4:hover,#ko5:hover {
    margin-top: -5px;
    transition: ease-in-out .3s
}

.akolo {
    text-decoration: none
}

.akolo:hover {
    color: #ccc;
    cursor: pointer
}

#sec4 {
    position: relative;
    margin: 0;
    height: 120vh;
    background: 0 0;
    margin-top: 30vh
}

#pom2 {
    position: absolute;
    width: 327px;
    height: 462px;
    background-image: none;
    margin: -688px auto 0 104px;
    background-color: #f1680e;
    top: 110vh;
    left: 12vw;
    z-index: 2;
    opacity: 0
}

.animate-slide-in {
    animation: slide-in 2s ease forwards
}

#nieb2 {
    position: relative;
    width: 297px;
    height: 335px;
    background-image: none;
    margin: -311px 104px 0 auto;
    background-color: #3f82f4;
    top: 65vh;
    right: 12vw;
    z-index: 2;
    opacity: 0
}

.scale-in-ver-bottom {
    animation: scale-in-ver-bottom 1.6s cubic-bezier(.455,.03,.515,.955) both;
    animation-delay: .4s
}

@keyframes scale-in-ver-bottom {
    0% {
        transform: scaleY(0);
        transform-origin: 0 100%;
        opacity: 0
    }

    to {
        transform: scaleY(1);
        transform-origin: 0 100%;
        opacity: 1
    }
}

#blokdol,#blokdol2 {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 66.12466124661246vh;
    width: 55.6640625vw;
    background-color: #fff;
    left: 21vw;
    z-index: 3;
    top: -10.2vh;
    padding: 80px 40px;
    opacity: 0
}

.blokdol-animate {
    animation: fly-in-right 2s forwards
}

.blokdol-animate-2 {
    animation: fly-in-right 2s forwards
}

.bdpil {
    display: flex;
    flex-direction: column
}

@keyframes fly-in-right {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

#bdlewo {
    width: 24.12109375vw;
    background: 0 0;
    border-right: 2px #999
}

#h2bd {
    font-family: Roboto,sans-serif;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 48px;
    font-weight: 500;
    background-color: #fff;
    color: #f1680e;
    text-align: left;
    margin-right: 4.6vw;
    margin-bottom: 0
}

#p2bd {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #999;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 17px;
    margin-top: 28px;
    margin-bottom: 0;
    background-color: #fff;
    word-wrap: break-word;
    max-width: 310.5px
}

#pbdlink {
    display: flex;
    text-align: left;
    color: gray;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 16px;
    margin: 30px 0 0;
    background-color: #fff
}

#zdjk {
    background-image: url(https://assets.nicepagecdn.com/02cb7fb5/6230984/images/9df29834-099f-2727-519e-9311974215d2.jpg);
    height: 523px;
    width: 27.63671875vw;
    object-position: 45.01% 28.41%;
    background-position: 45.01% 28.41%;
    margin-top: -65px;
    margin-bottom: 0;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.2);
    background-size: cover;
    position: relative;
    left: 47vw;
    bottom: 76vh;
    z-index: 4;
    opacity: 0
}

.flipInX {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        transform: perspective(400px) rotate3d(1,0,0,-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        transform: perspective(400px) rotate3d(1,0,0,-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1
    }
}

#kratka2 {
    position: relative;
    width: 538px;
    height: 261px;
    margin: 54px auto 0 0;
    overflow: hidden;
    background: 0 0;
    bottom: 107vh;
    left: 12vw;
    opacity: 0
}

.scale-in-tr {
    animation: scale-in-tr 2s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes scale-in-tr {
    0% {
        transform: scale(0);
        transform-origin: 100%0;
        opacity: 0
    }

    to {
        transform: scale(1);
        transform-origin: 100%0;
        opacity: 1
    }
}

#flexlista {
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: left
}

@keyframes up {
    0% {
        transform: translateY(200px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

.up-2 {
    animation: up-2 2s forwards
}

@keyframes up-2 {
    0% {
        transform: translateY(500px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

.fl {
    width: 285px;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    opacity: 0
}

.up {
    animation: up 2s forwards
}

#fl2,#fl3 {
    opacity: 0
}

.flv3 {
    animation-delay: .2s
}

li {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 300;
    list-style-image: url("check-svgrepo-com (3) (1).svg");
    line-height: 2
}

.h4 {
    color: #fff;
    background: 0 0;
    font-size: 24px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,"Roboto",Oxygen,Ubuntu,Cantarell,Open Sans,"Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-bottom: 3vh;
    line-height: 1.6;
    margin-left: 0
}

#ol1 {
    margin: 0 0 0 22.6px
}

#budynki {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column
}

#h2budynki {
    color: #fff;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 600;
    font-size: 48px;
    opacity: 0
}

#huj {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row
}

.blkbud {
    width: 556.2px;
    height: 691.2px;
    border: solid 14.4px #3d3d5c
}

#blokbud1 {
    display: flex;
    justify-content: left;
    align-content: baseline;
    align-items: baseline;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/66145/images/empty-hallway-background_23-2149.jpg);
    position: relative;
    opacity: 0
}

.slide-in-top {
    animation: slide-in-top 1.6s cubic-bezier(.445,.05,.55,.95) both
}

.slide-in-top-2 {
    animation: slide-in-top 1.6s cubic-bezier(.445,.05,.55,.95) both
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-300px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

#blokbudwn1 {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 417px;
    height: 121.1px;
    padding: 20px
}

#blokbud1p {
    background-color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-style: italic;
    font-weight: 400
}

#blokbud1h2 {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 300;
    background-color: #fff;
    margin: 0;
    background: 0 0
}

#blokbud2 {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    align-content: center;
    position: relative
}

#blokbud1mal {
    position: relative;
    width: 556.2px;
    height: 339.2px;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/66145/images/popular-resort-amara-dolce-vita.jpg);
    background-size: cover;
    border: solid 14.4px #3d3d5c;
    border-top: 0;
    display: flex;
    opacity: 0
}

.slide-left {
    animation: slide-left 1.6s cubic-bezier(.445,.05,.55,.95) both
}

.slide-left-niebieski {
    animation: slide-left 2s cubic-bezier(.445,.05,.55,.95) both;
    animation-delay: .4s
}

@keyframes slide-left {
    0% {
        transform: translateX(400px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

#blokbud1wn {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 417px;
    height: 121.2px;
    padding: 20px;
    margin: 6px 0 0 0;
    bottom: 0;
    left: 0;
    animation-delay: .2s
}

#blokbud1malh2,#blokbud2malh2 {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 300;
    background-color: #fff;
    margin: 0
}

#blokbud1malp,#blokbud2malp {
    background-color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-style: italic;
    font-weight: 400
}

#blokbud2mal {
    position: relative;
    width: 556.2px;
    height: 323.2px;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/66145/images/office-buildings-with-modern-arc.jpg);
    background-size: cover;
    border: solid 14.4px #3d3d5c;
    display: flex;
    border-bottom: 0;
    opacity: 0
}

#blokbud2wn {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 417px;
    height: 121.2px;
    padding: 20px;
    bottom: 0;
    left: 0
}

#buty {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: .875rem;
    margin: 15px auto 0 0;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    border-width: 1px;
    --border-radius: 50px;
    padding: 10px 30px;
    font-size: 16;
    border-radius: var(--top-left-radius, var(--border-top-left-radius, var(--radius, var(--border-radius, 0)))) var(--top-right-radius, var(--border-top-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-right-radius, var(--border-bottom-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-left-radius, var(--border-bottom-left-radius, var(--radius, var(--border-radius, 0))))!important
}

.aniguz {
    opacity: 0
}

.slide-in-bottom {
    animation: slide-in-bottom 1.2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .4s
}

.slide-in-bottom-guzopis {
    animation: slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .8s
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(400px);
        opacity: 0;
        scale: 5%
    }

    to {
        transform: translateY(0);
        opacity: 1;
        scale: 100%
    }
}

#buty:hover {
    background-color: #f1680e;
    border-color: #f1680e
}

#opis {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center
}

#opislewy {
    position: relative;
    height: 651px;
    max-height: 651px;
    width: 323px;
    padding: 30px 0;
    display: flex;
    flex-direction: column
}

#opisprawy {
    position: relative;
    height: 651px;
    width: 817px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    opacity: 0
}

.slide-left-opisprawy {
    animation: slide-left 2s cubic-bezier(.445,.05,.55,.95) both
}

.obr {
    position: relative;
    height: 34px;
    width: 34px
}

.h6opis:hover {
    cursor: pointer
}

.h6opis {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 700;
    height: 5.5284552845528445vh;
    display: flex;
    justify-content: left;
    align-items: center
}

.opdiv {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10.932249322493226vh;
    width: 308px;
    padding: 0 30px 20px;
    opacity: 0
}

#opdiv2 {
    animation-delay: .2s
}

#opdiv3 {
    animation-delay: .4s
}

#opdiv4 {
    animation-delay: .6s
}

#opdiv5 {
    animation-delay: .8s
}

#opdiv6 {
    animation-delay: 1s
}

.slide-in-bottom-opisan {
    animation: slide-in-bottom-opisan 2s cubic-bezier(.445,.05,.55,.95) both
}

@keyframes slide-in-bottom-opisan {
    0% {
        transform: translateY(1000px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

#h2opis {
    background-color: transparent;
    color: #fff;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0
}

#popis {
    color: #fff;
    background: 0 0;
    font-family: "Open sans",sans-serif;
    font-size: 24px;
    line-height: 2.2;
    margin: 22px 0 0;
    font-weight: 400
}

#storka {
    height: 120vh;
    position: relative;
    width: 100%
}

#pomaranczowy2 {
    background-color: #f1680e;
    position: inherit;
    width: 347px;
    height: 537px;
    top: 34.8vh;
    left: 17vw;
    z-index: 3;
    opacity: 0
}

.animate-slide-in-pomaranczowy {
    animation: slide-in 2s ease forwards;
    animation-delay: .6s;
    opacity: 1
}

#blokdol2 {
    position: absolute;
    flex-direction: row-reverse;
    height: 499px;
    width: 855px;
    position: relative;
    left: 19.5vw;
    z-index: 4;
    margin-top: -550px
}

#niebieski2 {
    position: absolute;
    width: 327px;
    height: 407px;
    background-color: #3f82f4;
    z-index: 3;
    margin-left: 56.5vw;
    margin-top: -58vh;
    opacity: 0
}

#bdprawo {
    background-color: #fff
}

#zdjk2 {
    background-image: url(https://assets.nicepagecdn.com/02cb7fb5/6230984/images/smiling-young-businesswoman-work.jpg);
    width: 389px;
    min-height: 526px;
    height: 526px;
    object-position: 45.01% 28.41%;
    background-position: 45.01% 28.41%;
    margin: -5.5vh auto -67px;
    overflow: visible;
    background-size: cover;
    flex: 1;
    box-shadow: 5px 5px 20px 1px rgba(0,0,0,.2);
    opacity: 0
}

.slide-in-bottom-zdjk2 {
    animation: slide-in-bottom-zdjk2 2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .6s
}

@keyframes slide-in-bottom-zdjk2 {
    0% {
        transform: translateY(400px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

#bdlewo2 {
    width: 20.12109375vw;
    background: 0 0;
    border-right: 2px #999;
    margin-left: 4vw
}

#kratkalul {
    position: relative;
    width: 524px;
    height: 278px;
    margin-left: 750px;
    top: -230px;
    opacity: 0
}

.kratka-animate {
    animation: kratka 2s ease forwards;
    animation-delay: .4s
}

#kolaobrazy {
    position: relative;
    width: 100%;
    height: 190vh
}

#kobraz1 {
    position: absolute;
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/a26bc2decdc5587c9ddfc83c/uiiuiu.jpg);
    height: 628px;
    width: 628px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin: 50px 0 0 220px;
    opacity: 0
}

.rotate-center {
    animation: rotate-center 1.6s ease-in-out both;
    animation-delay: .4s
}

@keyframes rotate-center {
    0% {
        transform: translateX(-70%) rotate(180deg) scale(.2);
        opacity: 0
    }

    to {
        transform: translateX(0) rotate(0) scale(1);
        opacity: 1
    }
}

#kobraz2 {
    position: absolute;
    height: 134px;
    width: 134px;
    background: 0 0;
    border-radius: 100%;
    border: #f1680e solid 26px;
    margin: 90px 45vw 0 55vw;
    opacity: 0
}

.scale-in-right {
    animation: scale-in-right 2s cubic-bezier(.445,.05,.55,.95) both
}

@keyframes scale-in-right {
    0% {
        transform: scale(0);
        transform-origin: 100% 50%;
        opacity: 0
    }

    to {
        transform: scale(1);
        transform-origin: 100% 50%;
        opacity: 1
    }
}

#kobraz3 {
    position: absolute;
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/e8c5b97b47a95bb2bacf70c7/bnbbn.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    width: 254px;
    height: 254px;
    margin: 12.997938144329897vh 31vw 0 69vw;
    opacity: 0
}

#kobraz4 {
    position: absolute;
    width: 435px;
    height: 435px;
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/a3f8857131e153b4b037bbcb/lkklklk.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: #f1680e 20px solid;
    margin: 450px 45vw 0 55vw;
    opacity: 0
}

#kobraz5 {
    position: absolute;
    width: 218px;
    height: 218px;
    background-color: #f1680e;
    border-radius: 100%;
    margin: 1100px 29vw 0 71vw;
    opacity: 0
}

.scale-up-left {
    animation: scale-up-left 1.6s cubic-bezier(.445,.05,.55,.95) both;
    animation-delay: .4s
}

@keyframes scale-up-left {
    0% {
        transform: scale(.5);
        transform-origin: -100% 50%;
        opacity: 0
    }

    to {
        transform: scale(1);
        transform-origin: -100% 50%;
        opacity: 1
    }
}

#tekst {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 556px;
    padding: 30px 60px;
    margin: 700px 95vw 0 15vw;
    background-color: transparent;
    opacity: 0
}

#h2tekst {
    background: 0 0;
    font-size: 48px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    color: #fff
}

#ptekst {
    background: 0 0;
    color: #fff;
    line-height: 2.2;
    font-size: 18px
}

#pbdlink3 {
    display: flex;
    text-align: left;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 16px;
    margin: 30px 0 0;
    background: 0 0;
    width: 450px
}

#afre2:hover {
    text-decoration: 1px underline #f1680e;
    cursor: pointer
}

#afre2 {
    text-decoration: underline 1px;
    text-underline-offset: 5px
}

.kobrazyguz {
    animation-delay: .6s;
    opacity: 0
}

#koncowy {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65vh
}

.parent {
    display: grid;
    grid-template-columns: repeat(2,570px);
    grid-template-rows: 275px 125.4px;
    grid-column-gap: 0;
    grid-row-gap: 0
}

.div1 {
    grid-area: 1/1/2/2;
    padding: 30px;
    background-color: #fff;
    opacity: 0
}

.div2 {
    grid-area: 1/2/2/3;
    padding: 30px;
    background-color: #fff;
    opacity: 0
}

.div3 {
    grid-area: 2/1/3/2;
    padding: 10px 10px 10px 0;
    background: 0 0;
    margin-top: 37px;
    height: 125.4px;
    opacity: 0
}

.div4 {
    grid-area: 2/2/3/3;
    padding: 10px 10px 10px 0;
    background: 0 0;
    margin-top: 37px;
    height: 125.4px;
    opacity: 0
}

.slide-in-left {
    animation: slide-in-left 2s cubic-bezier(.445,.05,.55,.95) both
}

.slide-in-left-d4 {
    animation: slide-in-left-d4 1.6s cubic-bezier(.445,.05,.55,.95) both;
    animation-delay: .6s
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-left-d4 {
    0% {
        transform: translateX(-600px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

#h2koncowy {
    color: #f1680e;
    font-size: 48px;
    font-family: "Montserrat",sans-serif;
    line-height: 1.2;
    background-color: #fff;
    margin: 0;
    font-weight: 600
}

#p1koncowy {
    margin: 30px 0 0;
    background-color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    word-wrap: break-word;
    position: relative;
    font-size: 14px;
    color: #111
}

#koncowyd2h6 {
    font-weight: 400;
    margin-bottom: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    color: #111;
    background-color: #fff
}

#p2koncowy {
    font-size: 16px;
    margin: 22px 0 0 0;
    font-weight: 400;
    font-family: "Montserrat",sans-serif;
    line-height: 2.2;
    color: #111;
    background-color: #fff
}

#formkoncowy {
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 20px
}

#inputmail {
    background-color: #fff;
    padding: 10px 12px;
    border: 0;
    border-bottom: 1px solid #000;
    width: 382.69px;
    height: 46.4px
}

#inputsubmit {
    background-color: #fff;
    width: 127.31px;
    height: 42.4px;
    color: #fff;
    background-color: #f1680e;
    border-radius: 35px;
    border: 0;
    background-image: none;
    text-transform: uppercase;
    font-weight: 700
}

#inputsubmit:hover {
    background-color: #3f82f4
}

#inputmail:focus {
    outline: 0
}

#obrazpineska {
    position: absolute;
    height: 33px;
    width: 33px
}

#h6div3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    margin: 0 0 0 60px
}

#pdiv3 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    font-size: 16px;
    margin: 11px 0 0 60px;
    color: #fff
}

#footer1 {
    width: 100%;
    height: 142.8px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    background-color: #333
}

#pfooter1 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 14px;
    word-wrap: break-word;
    position: relative;
    color: #fff;
    text-align: center;
    width: 417px;
    background: 0 0
}

#footer2 {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109.2px;
    padding: 16px
}

#pfooter2 {
    font-size: 12.8px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 2.2;
    color: #fff;
    background: 0 0
}

.afooter {
    color: #c9c8e7;
    text-decoration: underline 1.5px
}